{% set passwords = ['admin_pass', 'cinder_dbpass', 'cinder_pass', 'dash_dbpass', 'demo_pass', 'glance_dbpass', 'glance_pass', 'keystone_dbpass', 'neutron_dbpass', 'neutron_pass', 'nova_dbpass', 'nova_pass', 'rabbit_pass', 'metadata_proxy_shared_secret'] %}
{% set databases = ['cinder', 'dash', 'glance', 'keystone', 'neutron', 'nova', 'nova_api'] %}
