{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['2048'],
        'user': 'nobody',
        'group': 'nogroup',
        'client-config-dir': 'ccd',
    },
    'Ubuntu': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['2048'],
        'user': 'nobody',
        'group': 'nogroup',
        'client-config-dir': 'ccd'
    },
    'Amazon': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['2048'],
        'user': 'nobody',
        'group': 'nobody',
        'client-config-dir': 'ccd'
    },

}, grain='os', merge=salt['pillar.get']('openvpn:lookup')) %}
