# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml "backup4/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian':  {},
    'Ubuntu':  {},
    'CentOS':  {},
    'Amazon':  {},
    'Fedora':  {},
    'RedHat':  {},
    'Suse':    {},
    'Gentoo':  {},
    'Arch':    {},
    'FreeBSD': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('backup4:lookup'))
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.backup4.update(os_family_map) %}

{## Merge in salt:lookup pillar ##}
{% set backu4 = salt['pillar.get'](
    'backup4',
    default=default_settings.backu4,
    merge=True
  )
%}
