object Host "Router" {
display_name = "Router"  
  import "generic-host"
  address = "10.0.0.1"
  vars.os = "Linux"
  vars.community = "$host.vars.snmp_community$"
  vars.snmp_interface = "$host.vars.snmp_interface$"
  vars.type = "router"
  vars.notification["mail"] = { groups = [ "icingaadmins" ]}
  vars.http_vhosts["Web GUI"] = { http_uri = "/" }
}
	
