############## DOMAIN MACHINES
	
### SERVER JOINED IN DOMAIN:

object Host "Server 2" {
 import "generic-host"
 address = "WIN-SRV-2"
#OR
 #address = "10.10.10.1" 
 display_name = "Domain Server 2"
 vars.notification["mail"] = { groups = [ "icingaadmins" ] }
 vars.os="Windows"
 vars.windesktop="False"

#Additional checks

# vars.printserver="True"
# vars.mssql_server="True"
# vars.iis_server="True"
# vars.domain_controller="True"

}


### DESKTOP PC JOINED IN DOMAIN:

object Host "PC John" {
 import "desktop-host"
 address = "PC-John"
#OR
 #address = "10.10.10.1"
 display_name = "Domain PC - John"
 vars.notification["mail"] = { groups = [ "icingaadminsdesktops" ] }
 vars.os="Windows"
 vars.windesktop="True"
}





############## STANDALONE MACHINES


### SERVER NOT JOINED IN DOMAIN OR USING LOCAL ACCOUNT FOR ACCESS
 
object Host "10.0.0.4" {
 import "generic-host"
 address = "10.0.0.4"
 display_name = "Standalone Server 4"
 vars.notification["mail"] = { groups = [ "icingaadmins" ] }
 vars.os="Windows"
 vars.windesktop="False"
 vars.standalone="True"

#  vars.iis_server_standalone="False"
#  vars.mssql_server_standalone="False"
#  vars.printserver_standalone="False"
#  vars.mysql_server_standalone="False"


  vars.wmi_user="root"
  vars.wmi_pass="my_pass"
#OR
  #vars.wmi_authfile_path = "/etc/icinga2/conf.d/cred_win_standalone.txt"

}



### DEKSTOP PC NOT JOINED IN DOMAIN OR USING LOCAL ACCOUNT FOR ACCESS

object Host "Desktop PC 1" {
 import "desktop-host"
 address = "10.0.0.5"
 display_name = "Standalone PC 5"
 vars.notification["mail"] = { groups = [ "icingaadminsdesktops" ] }
 vars.os="Windows"
 vars.windesktop="True"
 vars.standalone="True"

#  vars.iis_server_standalone="False"
#  vars.mssql_server_standalone="False"
#  vars.printserver_standalone="False"
#  vars.mysql_server_standalone="False"

  vars.wmi_user="root"
  vars.wmi_pass="my_pass"
#OR
  #vars.wmi_authfile_path = "/etc/icinga2/conf.d/cred_win_standalone.txt"

}
