#Object host name must be Windows Host name and va-monitoring should have AD DNS as nameserver. OR
#Use IP addess as Host name and display name for human readable description


object Host "10.0.0.2" {
 import "generic-host"
 address = "10.0.0.2"
 display_name = "Domain Server 2"
 vars.notification["mail"] = { groups = [ "icingaadmins" ] }
 vars.os="Windows"
 vars.windesktop="False"

#Additional checks

# vars.printserver="True"
# vars.mssql_server="True"
# vars.iis_server="True"
# vars.domain_controller="True"

}


object Host "10.0.0.3" {
 import "desktop-host"
 address = "10.0.0.3"
 display_name = "Domain PC 3"
 vars.notification["mail"] = { groups = [ "icingaadminsdesktops" ] }
 vars.os="Windows"
 vars.windesktop="True"
}


object Host "10.0.0.4" {
 import "generic-host"
 address = "10.0.0.4"
 display_name = "Standalone Server 4"
 vars.notification["mail"] = { groups = [ "icingaadmins" ] }
 vars.os="Windows"
 vars.windesktop="False"
 vars.standalone="True"

#Additional checks

# vars.printserver_standalone="True"
# vars.mssql_server_standalone="True"
# vars.iis_server_standalone="True"

}


object Host "10.0.0.5" {
 import "desktop-host"
 address = "10.0.0.5"
 display_name = "Standalone PC 5"
 vars.notification["mail"] = { groups = [ "icingaadminsdesktops" ] }
 vars.os="Windows"
 vars.windesktop="True"
 vars.standalone="True"
}

